{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .content{ margin: 10px;}
</style>

<div class="content">
        <h2 style="text-align:center;">A propos de moi :</h2>
        <img style="display: block; margin-bottom:10px; margin-left:auto; margin-right:auto" src="http://placehold.it/300x300" alt="Photo de moi">

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat vero similique iusto est fugit. Nisi nemo maiores eius, nesciunt iusto, eos nam omnis reprehenderit deserunt rem quibusdam provident beatae quis ullam velit fugit. Reprehenderit numquam doloremque architecto officiis totam. Iste maiores nesciunt, minus doloremque possimus repellat, vero perspiciatis aut excepturi perferendis eum nulla consectetur expedita ullam culpa natus, quia dicta earum totam aliquid similique? Odio soluta inventore maxime consequatur itaque voluptate quibusdam, ipsam corrupti, molestiae veniam ab tenetur illum doloribus facere eaque recusandae natus in, omnis repellat voluptatibus? Explicabo voluptatem earum provident ab est sunt officiis quaerat, voluptate recusandae saepe.</p>
    </div>
<hr/>
<div>
    <h2>Formation</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, eveniet nihil. Illum architecto rem ipsum voluptatibus quod magni quo! Quia, iste perferendis. Laboriosam neque, tempora quam, nulla consectetur nesciunt cum vel ipsum quaerat soluta, maxime sit explicabo exercitationem? Dicta eos minima a alias atque? Incidunt, enim quo, quaerat sunt quisquam officiis unde reprehenderit tempore sit, laborum perferendis. Iusto officiis eius necessitatibus velit, repudiandae architecto maiores vero, illum suscipit voluptatibus deleniti laboriosam obcaecati autem, in vel reprehenderit. Rerum odit sunt suscipit quidem, quasi laborum aliquid ratione harum mollitia vitae recusandae obcaecati ullam tempora voluptates voluptate incidunt nisi aliquam sit blanditiis sapiente.</p>
</div>
<hr/>
<div>
    <h2>Compétences</h2>
    <div style="width:500px; margin-right:auto; margin-left:auto; margin-top:20px;">
    <span>PHP</span><div class="progress">
           <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <span>JavaScript</span><div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
     </div>
     <span>HTML/CSS</span><div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
     </div>
    </div>
</div>

{% endblock %}