{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 400px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
  {{ form_start(formUser)}}
  {{ form_row(formUser.email)}}
  {{ form_row(formUser.password)}}
  <button type="submit" class="btn btn-primary">Se Connecter</button>
  {{ form_end(formUser)}}
</div>

{% endblock %}